while True:
    try:
        n = int(input("Zadaj cele prirodzene cislo: "))
    except ValueError:
        print("Nezadal si cele prirodzene cislo, skus znova.")
    else:
        break
if n == 0:
    print("")

elif n%2 == 0:
    for a in range(n, 1, -2):
        for x in range(a, n, +2):
            print(" ", end=" ")
        for i in range(0, a):
            print("*", end=" ")
        print()
    for a in reversed(range(n, 2 - 1, -2)):
        for x in range(a, n, +2):
            print(" ", end=" ")
        for i in range(0, a):
            print("*", end=" ")
        print()
    
elif n%2 == 1:
    for a in range(n, 0, -2):
        for x in range(a, n, +2):
            print(" ", end=" ")
        for i in range(0, a):
            print("*", end=" ")
        print()
    for a in reversed(range(n, 2 - 1, -2)):
        for x in range(a, n, +2):
            print(" ", end=" ")
        for i in range(0, a):
            print("*", end=" ")
        print()
